@media screen and (max-width: 1199px) {
	.site-nav li {
		margin-left: 0;
	}
	.logo-bottom:after {
		content: '';
		display: table;
		clear: both;
	}
	.header-top__nav {
		text-align: left;
		margin: 2em 0 1em 0;
	}
}

@media screen and (max-width: 730px) {
	.e-learning .row {
		display: block;
		text-align: center;
	}
	.e-learning img {
		margin-bottom: 15px;
	}
}


@media screen and (max-width: 634px) {
	.description {
		padding: 3em 0 0 0;
	}
	.training-description {
		padding: 1em;
	}
	.schedule-title {
		text-align: center;
	}
	.speaker {
		margin: 2em 0;
	}
	.header-top__nav {
		margin: 1em 0;
	}
	.site-nav li {
		display: block;
		margin: .5em 0;
		padding: 0;
	}
	.site-nav a {
		display: block;
	}
	.site-nav a:hover {
		border: none;
	}
	.organisers {
		padding-bottom: 15px;
	}
}

@media screen and (max-width: 500px) {
	.banner-heading {
		font-size: 4em;
	}
	.sales-logo {
		max-width: 250px;
	}
}