.platform {
	margin-bottom: 2em;
	h3,
	p {
		font-weight: 300;
		color: #32411c;
		margin: 0;
	}
	h3 {
		font-size: 2.25em;
		margin-bottom: .5em;
	}
	p {
		font-size: 1.25em;
	}
}

.free-certificate {
    color: #78A614;
    font-weight: 600;
}

.e-learning .row {
	display: flex;
	align-items: center;
}