.popup {
    position: fixed;
    left: 30px;
    bottom: 30px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
    border-radius: 6px;
    color: #333;
    font-size: 10px;
    line-height: 1.4;
    padding: 15px;
    z-index: 100;
    @media (max-width: 414px) {
        left: 0;
        bottom: 0;
        right: 0;
        max-width: 100%;
    }
    &__close {
        transform: rotate(45deg);
        font-size: 22px;
        display: inline-block;
        position: absolute;
        top: -12px;
        right: -2px;
        cursor: pointer;
        padding: 5px;
        transition: .25s;
        &:hover {
            color: #85a92d;
        }
    }
}