.sprite-sprite, .benhauer-logo, .salesmanago-logo, .salesmanago-big, .icon-facebook, .facebook, .icon-twitter, .twitter, .icon-youtube, .youtube, .icon-linkedin, .linkedin, .schedule-tick, .schedule-tick-disabled, .card, .paypal {
  background-image: url('../images/sprite-s9b5b5c8579.png');
  background-repeat: no-repeat;
}

.benhauer-logo {
  background-position: 0 0;
  height: 45px;
  width: 159px;
  display: inline-block;
  margin-right: 10px;
}

.salesmanago-logo {
  background-position: 0 -308px;
  height: 40px;
  width: 208px;
  display: inline-block;
}

.salesmanago-big {
  background-position: 0 -358px;
  height: 48px;
  width: 250px;
  display: block;
}

.icon-facebook {
  background-position: 0 -106px;
  height: 28px;
  width: 27px;
  display: block;
}

.facebook {
  background-position: 0 -144px;
  height: 53px;
  width: 53px;
  display: block;
}

.icon-twitter {
  background-position: 0 -592px;
  height: 28px;
  width: 28px;
  display: block;
}

.twitter {
  background-position: 0 -630px;
  height: 53px;
  width: 53px;
  display: block;
}

.icon-youtube {
  background-position: 0 -693px;
  height: 28px;
  width: 28px;
  display: block;
}

.youtube {
  background-position: 0 -731px;
  height: 53px;
  width: 53px;
  display: block;
}

.icon-linkedin {
  background-position: 0 -207px;
  height: 28px;
  width: 27px;
  display: block;
}

.linkedin {
  background-position: 0 -245px;
  height: 53px;
  width: 53px;
  display: block;
}

.schedule-tick {
  background-position: 0 -484px;
  height: 44px;
  width: 44px;
  display: block;
}

.schedule-tick-disabled {
  background-position: 0 -538px;
  height: 44px;
  width: 44px;
  display: block;
}

.card {
  background-position: 0 -55px;
  height: 41px;
  width: 258px;
  display: block;
}

.paypal {
  background-position: 0 -416px;
  height: 35px;
  width: 138px;
  display: block;
}

.org-item a {
  display: block;
  width: 100%;
}
.org-item a .media {
  background: url('../images/media-s5e408e8fae.png') no-repeat;
  height: 74px;
  width: 200px;
  display: inline-block;
  margin: 14px 0;
}
.org-item a .media.salesmanago {
  background-position: 0 -888px;
}
.org-item a .media.benhauer {
  background-position: 0 -222px;
}
.org-item a .media.education {
  background-position: 0 -296px;
}
.org-item a .media.admonkey {
  background-position: 0 0;
}
.org-item a .media.artivia {
  background-position: 0 -74px;
}
.org-item a .media.bankier {
  background-position: 0 -148px;
}
.org-item a .media.epr {
  background-position: 0 -370px;
}
.org-item a .media.hg {
  background-position: 0 -444px;
}
.org-item a .media.marketing_w_praktyce {
  background-position: 0 -518px;
}
.org-item a .media.nowy_marketing {
  background-position: 0 -592px;
}
.org-item a .media.online_marketing {
  background-position: 0 -666px;
}
.org-item a .media.org_marketingprzykawie {
  background-position: 0 -740px;
}
.org-item a .media.rgb {
  background-position: 0 -814px;
}
.org-item a .media.sprawny {
  background-position: 0 -962px;
}

/*
$sprite: sprite-map("test/*.png", $layout: smart);

ul {

  li {
    height: image-height(sprite-file($sprite, facebook));
    padding: 0 0 0 image-width(sprite-file($sprite, facebook)) + 20px;
    @include no-bullet;
    background: $sprite no-repeat;

    &.facebook {
      @include sprite($sprite, facebook);
      &:hover{
        @include sprite($sprite, facebook_color);
      }

    }

    &.twitter {
      @include sprite($sprite, twitter);
    }

    &.youtube {
      @include sprite($sprite, youtube);
    }
  }
}
*/
