@import "compass";

$sprite-spacing: 10px;
@import "sprite/*.png";
$disable-magic-sprite-selectors: true;
//@include all-media-sprites;
.benhauer-logo {
    @include sprite-sprite(benhauer, true);
    display: inline-block;
    margin-right: 10px;
}

.salesmanago-logo {
    @include sprite-sprite(logo, true);
    display: inline-block;
}

.salesmanago-big {
    @include sprite-sprite(logo_big, true);
    display: block;
}

.icon-facebook {
    @include sprite-sprite(facebook, true);
    display: block;
}

.facebook {
    @include sprite-sprite(facebook_color, true);
    display: block;
}

.icon-twitter {
    @include sprite-sprite(twitter, true);
    display: block;
}

.twitter {
    @include sprite-sprite(twitter_color, true);
    display: block;
}

.icon-youtube {
    @include sprite-sprite(youtube, true);
    display: block;
}

.youtube {
    @include sprite-sprite(youtube_color, true);
    display: block;
}

.icon-linkedin {
    @include sprite-sprite(linkedin, true);
    display: block;
}

.linkedin {
    @include sprite-sprite(linkedin_color, true);
    display: block;
}

.schedule-tick {
    @include sprite-sprite(tick, true);
    display: block;
}

.schedule-tick-disabled {
    @include sprite-sprite(tick_g, true);
    display: block;
}

.card{
    @include sprite-sprite(card, true);
    display: block;
}
.paypal{
    @include sprite-sprite(paypal, true);
    display: block;
}



$sprite: sprite-map("media/*.png", $layout: smart, $spacing: 10px);
.org-item {
    a {
        display: block;
        width: 100%;
        .media {
            background: $sprite no-repeat;
            height: image-height(sprite-file($sprite, salesmanago));
            width: image-width(sprite-file($sprite, salesmanago));
            display: inline-block;
            margin: 14px 0;
            &.salesmanago {
                @include sprite($sprite, salesmanago);
            }
            &.benhauer {
                @include sprite($sprite, benhauer);
            }
            &.education {
                @include sprite($sprite, education);
            }
            &.admonkey {
                @include sprite($sprite, admonkey);
            }
            &.artivia {
                @include sprite($sprite, artivia);
            }
            &.bankier {
                @include sprite($sprite, bankier);
            }
            &.epr {
                @include sprite($sprite, epr);
            }
            &.hg {
                @include sprite($sprite, hg);
            }
            &.marketing_w_praktyce {
                @include sprite($sprite, marketing_w_praktyce);
            }
            &.nowy_marketing {
                @include sprite($sprite, nowy_marketing);
            }
            &.online_marketing {
                @include sprite($sprite, online_marketing);
            }
            &.org_marketingprzykawie {
                @include sprite($sprite, org_marketingprzykawie);
            }
            &.rgb {
                @include sprite($sprite, rgb);
            }
            &.sprawny {
                @include sprite($sprite, sprawny);
            }
        }
    }
}


/*
$sprite: sprite-map("test/*.png", $layout: smart);

ul {

  li {
    height: image-height(sprite-file($sprite, facebook));
    padding: 0 0 0 image-width(sprite-file($sprite, facebook)) + 20px;
    @include no-bullet;
    background: $sprite no-repeat;

    &.facebook {
      @include sprite($sprite, facebook);
      &:hover{
        @include sprite($sprite, facebook_color);
      }

    }

    &.twitter {
      @include sprite($sprite, twitter);
    }

    &.youtube {
      @include sprite($sprite, youtube);
    }
  }
}
*/
